<header class="navigation-bar">

  <!--Logo spot-->
  <div class="logo">
    <a href="/" class="logo">
      <img src="/images/PlotTwistLogo.jpg" alt="Plot-Twist Logo" height="100">
    </a>
  </div>

  <!--Page Title text-->
  <div class="page-title">
    <h1>
      <%= pageTitle %>
    </h1>
  </div>

  <!--Two navigation buttons-->
  <div class="nav-bar-buttons">
    <form action="/" method="GET" style="margin: 0;">
      <button type="submit" class="nav-btn">Back to Home</button>
    </form>
    <form action="/logout" method="POST" style="margin: 0;">
      <button type="submit" class="nav-btn">Logout</button>
    </form>
  </div>


</header>

<!--$$$ means placeholder $$$-->
