<header class="navigation-bar">

  <!--Logo spot-->
  <div class="logo">
    <img src="/images/PlotTwistLogo.jpg" alt="Plot-Twist Logo" height="100">
  </div>

  <!--Page Title text-->
  <div class="page-title">
    <h1>$pageTitle$</h1>
  </div>

  <!--Two navigation buttons-->
  <div class="nav-bar-buttons">
    <button type="button" class="nav-btn" onclick="location.href='$PLACEHOLDER1$'">Back to Home</button>
    <button type="button" class="nav-btn" onclick="location.href='$PLACEHOLDER2$'">Logout</button>
  </div>


</header>

<!--$$$ means placeholder $$$-->
