<header class="navigationBar">

  <!--Logo spot-->
  <div class="logo">
    <img src="$PLACEHOLDER$" alt="Plot-Twist Logo">
  </div>

  <!--Page Title text-->
  <div class="pageTitle">
    <h1><%= pageTitle %></h1>
  </div>

  <!--Two navigation buttons-->
  <div class="navBarButtons">
    <button onclick="location.href='$PLACEHOLDER1$'">Back to Home</button>
    <button onclick="location.href='$PLACEHOLDER2$'">Logout</button>
  </div>


</header>

<!--$$$ means placeholder $$$-->