<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Login</title>

  <link rel="stylesheet" href="styles/login.css" />
  <link rel="stylesheet" href="/vendor/bootstrap/bootstrap.min.css">

</head>

<body>

  <!--Navigation Bar Partial-->
  <%- include('partials/_navBar') %>

    <main class="login-container">
      <h1 class="login-title">LOGIN</h1>

      <div class="login-buttons">

        <form action="/login/1" method="get">
          <button class="btn" type="submit">User 1</button>
        </form>
        <form action="/login/2" method="get">
          <button class="btn" type="submit">User 2</button>
        </form>
        <form action="/login/3" method="get">
          <button class="btn" type="submit">User 3</button>
        </form>
      </div>
    </main>

</body>

</html>
