@import 'variables';


.navigation-bar {
  background-color: $primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  .logo {

    //Targets the logo             
    img {
      //This targets the img in the logo (the scroll)
      height: 100px;
    }
  }

  .page-title {
    text-align: center;
    flex-grow: 1;
  }

  .nav-bar-buttons {
    display: flex;
    gap: 1em;

    .nav-btn {
      padding: 0.5em 1em;
      font-size: 1em;
      background-color: $secondary;
      color: $background;
      border: none;
      border-radius: 0.5em;
      cursor: pointer;

      &:hover {
        background-color: darken($secondary, 10%);
      }
    }
  }
}