// Color Palette
$text: #01151c;
$background: #f2fbff;
$primary: #0eadf7;
$secondary: #a277fb;
$accent: #c244f9;

// Typography
$font-base: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-size-base: 16px;

// use this code in your scss files: @import 'variables';