@import "variables";
@import "header";
@import "story_cards";
@import "navBar";
@import "owner_story_card";
@import "contribution_card_with_approve_btn";
@import "finish_story_btn";

body {
  margin: 0;
}

.page-layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.main-content {
  flex: 1;
  padding: 2em;
  overflow-y: auto;
  background-color: $background;
  font-family: $font-base;
  color: $text;

  .contributions {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-top: 2em;

    >p {
      text-align: center;
      font-style: italic;
      color: lighten($text, 30%);
    }
  }
}
